# Stripe sandbox
STRIPE_SECRET_KEY=sk_test_EXAMPLE_123
STRIPE_WEBHOOK_SECRET=whsec_EXAMPLE_456
STRIPE_SUCCESS_URL=https://conversapay.org/payment/success
STRIPE_CANCEL_URL=https://conversapay.org/payment/canceled
